
<!-- CTA -->
<section id="cta">
<header>
<h2>Contact Us</h2>
</header>

<p><strong>Club Director</strong><br /> 
Conrad Conero <br />
<i class="fa fa-envelope"></i> cconero@aol.com <br />
<i class="fa fa-phone"></i> 919.479.7020 </p>
</section>

<!-- Footer -->
<footer id="footer">
<span class="copyright">&copy; Durham Chess Club. All rights reserved. Built by <a href="https://github.com/Grantismo">Grant Warman</a>. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>


</footer>
